version: "3.9"

services:
  redis:
    image: redis:7
    command: >
      redis-server
      --requirepass ${REDIS_PASSWORD}

  api:
    build:
      context: ./app
      dockerfile: Dockerfile
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    env_file:
      - .env
    ports:
      - "${API_PORT}:8000"
    depends_on:
      - redis

  worker:
    build:
      context: ./app
      dockerfile: Dockerfile
    command: celery -A core.celery_app:celery_app worker -l info
    env_file:
      - .env
    depends_on:
      - redis

  beat:
    build:
      context: ./app
      dockerfile: Dockerfile
    command: celery -A core.celery_app:celery_app beat -l info
    env_file:
      - .env
    depends_on:
      - redis

  flower:
    build:
      context: ./app
    command: celery -A core.celery_app:celery_app flower --port=5555 --basic_auth=${FLOWER_BASIC_AUTH}
    env_file:
      - .env
    ports:
      - "${FLOWER_PORT}:5555"
    depends_on:
      - redis
      - worker

